
/* Navbar Styling */

.navbar-nav {
    overflow: visible;
}

.navbar-nav .nav-link.active {
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 3px;
    background-color: #2c3e50;
    border-radius: 2px;
}

/* Home-Page Styling */

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    color: #2c3e50;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 550;
}

p {
    font-size: 1.05rem;
    line-height: 1.6;
}

.container-custom {
    background: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 80px;
    max-width: 900px;
}

.hero-section {
    height: 320px;
    background: url("../images/titanic.jpg") center/cover no-repeat;
    position: relative;
}

.hero-overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay h1 {
    color: #fff;
    font-size: 2.5rem;
}



/* Prediction_form Styling */

.form-control {
    padding: 0.45rem 0.75rem;
    font-size: 0.95rem;
}

.placeholder-select {
    color: #6c757d; 
}







